* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    line-height: 1.6;
    color: #fff;
    background-color: rgb(16,2, 15);
}
.container {
    width:85%;
    margin: auto;
    overflow: hidden;
}
header {
    background: rgb(145, 36, 14);
    color: #fff;
    min-height: 70px;
    padding-top: 30px;
    border-bottom: #2255b3 3px solid;
}
header a {
    background: rgb(145, 36, 14);
    color: #fff;
    min-height: 70px;
    padding-top: 30px;
    
    font-size: 16px;
    text-decoration: none;
}
header ul {
    padding: 0;
    list-style: none;
    text-align: right;
}
header li {
    display: inline;
    padding: 0 20px 0 20px;
}
header .container::after {
    content: "";
    display: table;
    clear: both;
}
#hero {
    background: url(img/background.png) no-repeat center center/cover;
    color: #fff;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#hero h2 {
    font-size: 48px;
    margin-bottom: 20px;
}
#hero p {
    font-size: 24px;
    margin-bottom: 40px;
}
#hero .btn {
    width: 50px;
    font-size: 18px;
    background-color: #77aaff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px;
}
#hero .btn:hover {
    background: #2255b3;
    transition: background 1s;
}
section {
    padding: 60px 0;
}
section h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 36px;
}
#about p {
    text-align: center;
    width: 70%;
    margin: auto;
    line-height: 1.6;
}
#projects .project {
    display: flex;
    background: f4f4f4;
    color: #f4f4f4;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
}
#projects .project img {
    max-width: 150px;
    margin-right: 20px;
    border-radius: 5px;
}
#projects .project .project-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#projects .project h3 {
    margin-bottom: 10px;
}
#projects .project p {
    margin: 0;
}
#contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contact form label {
    font-size: 18px;
    margin-bottom: 5px;
}
#contact form input,
#contact  form textarea {
    width: 25%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
#contact form input[type="submit"] {
    width: 10%;
    background: #77aaff;
    color: #fff;
    border: 0px;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 20px;
}
#contact form input[type="submit"]:hover {
    background: #2255b3;
    transition: background 1s;
}
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    margin-top: 30px;
}